<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Book Alchemy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <nav>
        <div class="container">
            <a href="{{ url_for('home') }}" class="logo"><h1>Book Alchemy</h1></a>
        </div>
    </nav>

    <main class="container">
        <div class="toolbar">
            <div class="nav-links">
                <a href="{{ url_for('home') }}" class="btn-small">Home</a>
            </div>
            <form id="search" action="{{ url_for('search') }}" method="get">
                <label for="q">Search: </label>
                <input
                        type="text"
                        id="q"
                        name="q"
                        minlength="2"
                        maxlength="20"
                        size="15"
                        placeholder="Enter Keywords..."/>
                <input class="btn-small" type="submit" value="Search"/>
            </form>
        </div>
        <h2>Results</h2>
        {% if success %}
            <p class="success">{{ success }}</p>
        {% endif %}
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <div class="display-cards">

        {% for book in books %}
            <div class="card">
                {% if book.cover_url %}
                    <img src="{{ book.cover_url }}" alt="Cover for {{ book.title }}" class="book-cover">
                {% else %}
                    <div class="book-cover-placeholder">No Cover</div>
                {% endif %}
                <div class="book-info">
                    <h3>{{ book.title }}</h3>
                    <strong>by </strong>{{ book.author.name }}
                </div>
                <form action="{{ url_for('delete_book', book_id=book.id) }}" method="post">
                    <button type="submit" class="btn-small-delete">Delete Book</button>
                </form>
                <form action="{{ url_for('delete_author', author_id=book.author_id) }}" method="post">
                    <button type="submit" class="btn-small-delete">Delete Author</button>
                </form>
            </div>
        {% endfor %}
        </div>
        <a href="{{ url_for('add_author') }}" class="btn">Add Author</a>
        <a href="{{ url_for('add_book') }}" class="btn">Add Book</a>
    </main>
</body>
</html>